[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "ste29.github.io"]
	path = ste29.github.io
	url = https://github.com/Ste29/ste29.github.io
	branch = main
[submodule "main"]
	path = main
	url = https://github.com/Ste29/ste29.github.io
	branch = main
